
* {
  box-sizing: border-box;
}

.corner-icon {
  position: fixed;
  top: 20px;
  left: 35px;
}

.icon-style {
  height: 45px;
	width: 45px;
}

.form-style {
  position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 42px 42px 36px;
    border: 1px solid #eaeced;
    border-radius: 5px;
    width: 30rem;
}

.login-btn {
  width: 100%;
   border-radius: 24px!important;
    text-align: center;
    color: white!important;
    background-color: #0084ff!important;
    font-size: 15px!important;
    font-weight: 400!important;
    padding: 7px 30px!important;
    position: relative;
}

.signup-btn {
  width: 100%;
  border-radius: 24px!important;
   text-align: center;
   color: #2C2E2F!important;
   background-color: #E1E7EB!important;
   font-size: 15px!important;
   font-weight: 400!important;
   padding: 7px 30px!important;
   position: relative;
   
}

.signup-btn:hover {
  text-decoration: none;
  text-transform: none;
}



.helper {
  width: 100%;
  border: 0;
margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
display: inline-flex;
padding: 0;
position: relative;
min-width: 0;
}

.login-btn:hover {
  color: white;
}
.login-btn:focus {
  outline: 0;
}

.sub-text {
  text-align: center!important;
  margin-bottom: 1rem!important;
  margin-top: 0rem;
  color: black;
  font-size: 15px;
  font-weight: 400;
}



.separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #E1E7EB;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.general-form {
  width: 100%;
  border-radius: 24px;
  font-size: 17px!important;
  font-weight: 400!important;
  border: 1px solid #eaeced!important;
  padding: 7px 0px 7px 0px;
  text-indent:15px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.general-form:focus {
  outline: 0;
}

.error-text {
  text-align: center!important;
  margin: 0;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes error-message {
 0% {
   opacity: 0;
 }
 10% {
   opacity: 1;
 }
 90% {
   opacity: 1;
 }
 100% {
   opacity: 0;
 }

}