
:root {
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fff;
    --settings-icon-hover: #9fa7ac;
    --developer-color: #f9fafb;
    --input-bg: #f8f8fa;
    --input-chat-color: #a2a2a2;
    --border-color: #eef2f4;
    --body-font: "Manrope", sans-serif;
    --body-color: #273346;
    --settings-icon-color: #c1c7cd;
    --msg-message: #969eaa;
    --chat-text-bg: #f1f2f6;
    --theme-color: #0086ff;
    --msg-date: #c0c7d2;
    --button-bg-color: #f0f7ff;
    --button-color: var(--theme-color);
    --detail-font-color: #919ca2;
    --msg-hover-bg: rgba(238, 242, 244, 0.4);
    --active-conversation-bg: linear-gradient(
        to right,
        rgba(238, 242, 244, 0.4) 0%,
        rgba(238, 242, 244, 0) 100%
    );
   }
   
   /* [data-theme="purple"] {
    --theme-color: #9f7aea;
    --button-color: #9f7aea;
    --button-bg-color: rgba(159, 122, 234, 0.12);
   }
   
   [data-theme="green"] {
    --theme-color: #38b2ac;
    --button-color: #38b2ac;
    --button-bg-color: rgba(56, 178, 171, 0.15);
   }
   
   [data-theme="orange"] {
    --theme-color: #ed8936;
    --button-color: #ed8936;
    --button-bg-color: rgba(237, 137, 54, 0.12);
   } */
   
   .dark-mode {
    --body-bg-color: #1d1d1d;
    --theme-bg-color: #27292d;
    --border-color: #323336;
    --body-color: #d1d1d2;
    --msg-hover-bg: rgba(47, 50, 56, 0.54);
    --chat-text-bg: #383b40;
    --chat-text-color: #b5b7ba;
    --msg-date: #626466;
    --msg-message: var(--msg-date);
    --settings-icon-color: #7c7e80;
    --developer-color: var(--border-color);
    --button-bg-color: #393b40;
    --button-color: var(--body-color);
    --input-chat-color: #6f7073;
    --detail-font-color: var(--input-chat-color);
    --input-bg: #2f3236;
    transition: 0.2s!important;
    --active-conversation-bg: linear-gradient(
    to right,
    rgba(47, 50, 56, 0.54),
    rgba(238, 242, 244, 0) 100%
    );
   }

   .dark-mode .dark-light svg {
    fill: #ffce45;
    stroke: #ffce45;
   }

* {
    font-family: "Manrope", sans-serif;
}
.root {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.header {
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #1ebea5;
    /* box-sizing: border-box; */
    padding: 25px;

}

.body {
    display: flex;
    flex-direction: row;
  
 
}

.viewLoading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logout {
    width: 45px;
    height: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:black;
    border-radius: 50px!important;
    background-color: rgba(0, 0, 0, .04)!important;
}

.ProfilePicture {
    width: 45px;
    height: 45px;
    /* background-image:  url(../../Images/macbook_pro.jpg); */
    /* left:10px; */
   position: relative;
    display: flex;
    border-radius: 50px;
}

/* Dialog confirm */

.viewCoverScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewWrapTextDialogConfirmLogout {
    width: 400px;
    height: 50px;
    background-color: #d86c5a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.titleDialogConfirmLogout {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.viewWrapButtonDialogConfirmLogout {
    flex-direction: row;
    height: 100px;
    width: 300px;
    min-width: 400px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btnYes {
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-right: 20px;
    background-color: #c5787b;
    border: 0px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.notificationpragraph{
    right:0;
    bottom:0;
}
.newmessages{
    font-size: 8px
    ;
}

.btnNo {
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
    background-color: #94c043;
    border: 0px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* List user */

.viewListUser {
    min-height: 100vh;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    width: 44vh;
}

.viewListUser::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #ffffff;
}

.viewListUser::-webkit-scrollbar {
    width: 6px;
}
.active {
    background: var(--active-conversation-bg)!important;
    border-left: 4px solid var(--theme-color)!important;
    transition: 0.3s!important;
}

.viewListUser::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9999;
}

.viewWrapItem-temp {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: var(--theme-bg-color);
    padding: 10px;
    align-items: center;
    justify-content: center; 
}
.viewWrapItem-temp:hover {
    background-color:var(--msg-hover-bg);
}

.viewWrapItemNotification {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: var(--theme-bg-color);
    max-width:44vh;
    min-width:44vh;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(220,220,220);
  
}

.viewWrapItemNotification:hover {
    background-color:var(--msg-hover-bg);
}


.viewWrapItemFocused {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: var(--theme-bg-color);
    padding: 10px;
    align-items: center;
    justify-content: center; 
}

.viewWrapItemFocused:hover {
    background-color:var(--msg-hover-bg);
}
.viewAvatarItem {
    width: 50px;
    height: 50px;
    margin-left: 0!important;
    border-radius: 25px;
    object-fit: cover;
    background-image: url(../../Images/macbook_pro.jpg);

}

.viewWrapContentItem {
    flex-direction: column;
    display: flex;
    flex: 1;
    height: 100%;
    color: black;
}

.textItem {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--body-color);
    font-weight: bold;
}

.small-textItem {
    color: #969eaa!important;
    font-weight: normal!important;
}

.sub-textItem {
    color: #969eaa;
    display: inline-block;
    overflow: hidden!important;
    white-space: nowrap;
    text-overflow: ellipsis!important;
    text-align: left;
    font-size: 14px;
    word-wrap: break-word;
    width: 11rem;


}

.viewBoard {
    display: flex;
    flex: 1;
    max-height: 90vh;
}

/* --------------------------------SEARCH BUTTON DESIGN-------------------------------- */
    .rootsearchbar{
    width: 100%; 
        margin-bottom: 10px; 
    background-color: var(--theme-bg-color);
    }


    .input-icons i { 
        position: absolute; 
    }
    
    .input-icons { 
        width: 100%; 
    
    } 
    
    .profileviewleftside{
    width: 100%; 
    background-color:  var(--theme-bg-color);
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}
.input-container {
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .icon {
      position: absolute;
    padding: 10px;
    background: transparent;
    color: var(--body-color);
    min-width: 50px;
    text-align: center;
    border-radius: 10px;
    opacity: 1;
  }
  
  .input-field {
    width: 100%; 
    background-color: var(--input-bg);
    border-radius: 50px;
    font-size: 14px;
    height: 36px;
    padding-left: 36px;
    padding-right: 16px;
    text-align: left;
    text-indent: 10px;
    border: 0;
    color: var(--body-color);
  }
  
  .input-field:focus {
    outline: 0;
  }
  
.left-container {
    padding: 0!important;
    min-height: 100vh;
    background-color: var(--theme-bg-color);
}



.settings {
    color: #c1c7cd;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.message-text {
    display: flex;
    vertical-align: middle;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-style {
    color: #c1c7cd;
    width: 22px;
    height: 22px;
}

#logout-btn:focus {
    outline: none;
}

#logout-btn:active {
    outline: none;
}

.person-block {
    width: 100%;
    display: flex;
}
.rest-space {
    background-color: var(--theme-bg-color);
}
.person-block:hover {
    background-color:rgba(238, 242, 244, 0.4);
}

.empty-block {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    background-color: var(--theme-bg-color);
    height: 80px;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    color:#0086ff!important;
    width: 38px;
 flex-shrink: 0;
 z-index: 1000;

}

.logo svg {
    fill:#0086ff!important;
}
.dark-light {
    cursor: pointer;
}
.dark-light:focus {
    outline: none!important;
}
.dark-light:active {
    outline: none!important;
}

.dark-light svg {
    /* fill: #ffce45;
    stroke: #ffce45; */
    width: 22px;
    height: 22px;
    color: #c1c7cd;
    fill:#c1c7cd;
    flex-shrink: 0;
    background-color: var(--theme-bg-color);
}

.logo svg {
    width: 100%;
  fill: transparent;
  transition: 0.5s;
}

.detail-block {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;

}

.detail-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* border-radius: ; */
}

.detail-name {
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    line-height: 1;
    color: var(--body-color);
}

.detail-description {
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    color: #969eaa;
    line-height: 1;
}


.detail-button {
     border: 0;
        background-color: var(--button-bg-color);
        padding: 10px 14px;
        border-radius: 5px;
        color: var(--button-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        flex-grow: 1;
        font-weight: 500;
}

.detail-button svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.btn-group {
    display: flex;
    width: 100%;
}

.detail-setting {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.search-conversion {
    background-color: transparent;
    border: none;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 100%;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 1px solid var(--border-color);
    padding: 14px 0;
    color:#969eaa;


background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23c1c7cd'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 16px;
  display: block;
  background-color: transparent;
}

.search-conversion::placeholder {
    color: #969eaa;
}
.search-conversion:focus {
    outline: 0;
}

.search-icon {
    position: absolute;
    padding: 10px;
    background: transparent;
    min-width: 50px;
    text-align: center;
    border-radius: 10px;
    opacity: 1;
    right: 0;
    color: #969eaa;
}

.color-text {
    color: #969eaa;
    font-size: 14px;
    text-align: left;
    margin: 0;
    line-height: 1rem;
}

.detail-change {
    color: #969eaa;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 1px solid var(--border-color);
    padding: 14px 0;
    display: flex;
}

.colors {
    display: flex;
    margin-left: auto;
}

.color {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 4px;
}


.selected-color {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='3' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
   }