.profileroot{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
}

.profileitems {
    flex-direction: column;
}

.viewLoading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerprofile {
    font-weight: bold;
    font-size: 20px;
    color: #203152;
    background-color: #1ebea5;
    padding: 20px;
    box-shadow: 0px 4px 4px #808888;
}

.avatar {
    width: 80px;
    height:80px;
    border-radius: 50px;
    align-self: center;
    margin-top: 50px;
    object-fit: cover;
}

.textLabel {
    font-weight: bold;
    color: #203152;
    
    font-size: 18px;
    margin-top: 50px;
}

input::placeholder {
    color: rgb(199, 199, 199);
}

.btnUpdate {
    background-color: #0084ff;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    align-self: center;
    border-radius: 24px;
    font-weight: bold;
    padding: 7px;
}
.btnback {
    background-color: #E1E7EB;
    border: none;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 13px;
    align-self: center;
    border-radius: 24px;
    font-weight: bold;
    padding: 7px;
}

.viewWrapInputFile {
    position: absolute;
    align-self: center;
    top: 215px;
    background-color: rgba(1, 1, 1, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.viewInputFile {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    outline: 0;
    z-index: -1;
    opacity: 0;
}

.imgInputFile {
    border: none;
    width: 35px;
    height: 35px;
    padding: 5px;
}

.totalprofile{
    border-radius: 1px solid black;
}


.profile-form {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 42px 42px 36px;
    border: 1px solid #eaeced;
    border-radius: 5px;
    width: 30rem;
  }


  .profile-common-form {
    width: 100%;
    border-radius: 24px;
    font-size: 14px!important;
    font-weight: 400!important;
    border: 1px solid #eaeced!important;
    padding: 7px 0px 7px 0px;
    text-indent:15px;
    margin: 0 auto;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .profile-common-form:focus {
    outline: 0;
  }

  .image-center {
      margin: 0 auto;
      width: 100%;
      text-align: center;
  }

  .camera-icon {
    width: 40px;
    height: 40px;
    color:black;
    border-radius: 50px!important;
    background-color: white;
}

.temp-center {
    margin: 0 auto;
    width: 100%;
}