
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /*
  * -- BASE STYLES --
  * Most of these are inherited from Base, but I want to change a few.
  */
  body {
    display: flex;
    flex-flow: column;
    height: 100%;
    /* background-color: var(--theme-bg-color);
    color: var(--body-color); */
  }

  h1 {
    vertical-align: middle;
  }

  .front-page {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    line-height: 100vh;
  }
  

  
  
  
  
  
  
  .center-img {
    margin: 0 auto;
    margin-right: 0px!important;
    margin-left: 0px!important;
  }

  .home-img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .helper {
    justify-content: center;
    align-items: center;
  }
  .front-title {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5rem;

   /* justify-content: center;
   align-items: center;
   display: flex; */
   
  


  
  }

  .main-text{
    color: #000;
    font-size: 40px;
    font-weight:900;
    letter-spacing: -0.76px;
    line-height: 44px;
    text-align: left;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  
  .sub-text-title {
    color: rgba(0, 0, 0, .55);;
    font-size: 20px;
    font-weight:400;
    margin: 0 0 27px;
    max-width: 350px;
    text-align: left!important;
    letter-spacing: -0.76px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .login-btn-front {
    position: absolute!important;
    width: auto;
   border-radius: 24px;
    text-align: center;
    padding: 4rem;
    color: white!important;
    background-color: #0084ff!important;
    font-size: 20px!important;
    font-weight: 400!important;
    margin: 0;
    padding: 8px 60px!important;
  }

  .login-btn-front:hover {
    color: white;
  }

  .login-btn-front:focus {
    outline: 0;
  }