/* Welcome board */
.viewWelcomeBoard {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-bg-color);
    border-left: 1px solid var(--border-color);
    width: 100%;
    padding: 40px;
    opacity: 1;
    height: 100vh;
}

.textTitleWelcome {
    font-size: 40px;
    font-weight: bold;
    color: #203152;
}

.textDesciptionWelcome {
    font-size: 20px;
    color: #203152;
    margin-bottom: 200px;
}
/* border-left: 4px solid #0086ff; */
.avatarWelcome {
    width: auto;
    max-height:50%;
  
}