* {
font-family: "Manrope", sans-serif;
}
.viewChatBoard {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100vh;
    border-left: 1px solid var(--border-color)!important;
    background-color: var(--theme-bg-color);
   
  
}
.viewAvatarItem{
    margin-left: 20px;
    width: 45px!important;
    height: 45px!important;
}

.headerChatBoard {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    background-color: var(--theme-bg-color);
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    border-right: transparent!important;
    
}
.aboutme{
    padding-top: 20px;
    margin-left: 80px;
    
    align-items: center;
    display: flex;
    position: absolute;
}
.textHeaderChatBoard {
    font-weight: bold;
    color: #203152;
    margin-left: 10px;
    display: table;
}

.viewListContentChat {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    overflow-x: auto;
    border-right: 1px solid var(--border-color);
}

.name-title {
    font-size: 20px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    display: table-cell;
    vertical-align: middle;
    color: var(--body-color)

}
/* .viewListContentChat::-webkit-scrollbar-track {
    padding: 2px 0;
}

.viewListContentChat::-webkit-scrollbar {
    width: 15px;
}

.viewListContentChat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e8e8e8;
} */

.viewBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-bg-color);
    padding: 10px 20px;
    border-top: 1px solid var(--border-color)!important;
    border-right: 1px solid var(--border-color);
 

}

.icOpenGallery {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.viewInputGallery {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 10px;
    width: 30px;
}

.icOpenSticker {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.icSend {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 30px;
    display: none;
}

.viewInput {
    flex: 1;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-indent: 1rem;
    border: 0px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, .04);
    font-family: "Manrope", sans-serif;
    width: 100%;
    display: flex;

}

.viewInput:focus {
    outline: 0;
}

.viewInput-temp {
    flex: 1;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-indent: 1rem;
    border: 0px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, .04);
    font-family: "Manrope", sans-serif;
    width: 100px;
    display: flex;

}

.viewInput-temp:focus {
    outline: 0;
}

input::placeholder {
    color: rgb(199, 199, 199);
}

/* View item message */



.viewItemRight2 {
    max-width: 300px;
    height: auto;
    background-color: #e1f3fb;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
    color: #203152;
    text-align: left;
}

.viewItemRight3 {
    max-width: 300px;
    height: auto;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    text-align: left;
   
}

.viewWrapItemLeft {
    width: 100%;
    text-align: left;
    align-items: flex-start;
   justify-content: flex-end;
}

.viewWrapItemLeft2 {
    width: 100%;
    align-self: flex-start;
    text-align: left;

}

.viewWrapItemLeft3 {
    flex-direction: row;
    display: flex;
    width: 100%;
}

.viewWrapItemRight {
    width: 100%;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    /* margin-right: 20px;
    margin-top: 10px;
    margin-bottom: -15px; */
    
   
}

.viewWrapItemRight2 {
    width: 100%;
    align-self: flex-end;
    text-align: right;

    
}

.viewWrapItemRight3 {
    /* flex-direction: row; */
    display: flex;
    width: 100%;
    margin-bottom: 0;
    justify-content: flex-end;

}

.viewItemRight {
    max-width: 70%;
    height: auto;
    background-color: #0084ff;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px 20px 0 20px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.viewItemLeft {
    max-width: 70%;
    height: auto;
    background-color: var(--chat-text-bg);
    border-radius: 20px 20px 20px 0;
    line-height: 1.5;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--chat-text-color);
}

.viewItemLeft2 {
    max-width: 300px;
    height: auto;
    background-color: #203152;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.viewItemLeft3 {
    max-width: 300px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    
}
.time{
    display:block;
    text-align: center;
    width: 100%;
    background-color: var(--theme-bg-color);
    text-transform: uppercase;
    color: var(--msg-date);
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    font-size: 13px;

}
.timesetup{
    align-items: center;
}

.peerAvatarLeft {
    width: 30px;
    height: 30px;
    border-radius: 15px!important;
    object-fit: cover;
    align-self: flex-end;
    margin-left: 10px;
    
}

.peerAvatarRight {
    width: 30px;
    height: 30px;
    border-radius:  15px!important;
    object-fit: cover;
    align-self: flex-end;
    margin-right: 10px;
    
}


.viewPaddingLeft {
    width: 40px;
}

.viewPaddingRight {
    width: 40px;
}
/* Item text */

.textContentItem {
    font-size: 16px;
    word-break: break-all;
}

/* .viewListContentChat div:last-child {
    margin-bottom: 10px;
} */

/* Item image */

.imgItemRight {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 0%;
}

.imgItemLeft {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 0%;
}

.textTimeLeft {
    color: #808888;
    font-size: 12px;
    font-style: italic;
    margin-left: 50px;
}

/* Stickers */
/* 
.viewStickers {
    display: block;
    border-top: 1px solid #e8e8e8;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
}
.viewStickers::-webkit-scrollbar-track {
    padding: 2px 0;
}

.viewStickers::-webkit-scrollbar {
    width: 15px;
}

.viewStickers::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e8e8e8;
} */

.imgSticker {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Say hi */

.viewWrapSayHi {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.textSayHi {
    color: #808888;
    font-size: 14px;
}

.imgWaveHand {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.select-pic {
    color: #c1c7cd;
    height: 20px;
    width: 20px;
}
.select-pic:hover {
    color: gray;
}

.select-pic-btn {
    border: 0;
    background-color:var(--theme-bg-color);

}

.select-pic-btn:focus {
    outline: 0;
}




.select-smile {
    color: #c1c7cd;
    height: 20px;
    width: 20px;
}
.select-smile:hover {
    color: gray;
}

.select-smile-btn {
    border: 0;
    background-color: white;

}

.select-smile-btn:focus {
    outline: 0;
}

.react-emoji {
    width: 100%;
}
.react-input-emoji--container {
    width: 100%!Important;
    color: var(--body-color)!important;
    background-color: var(--input-bg)!important;
    border: 0!important;
}

.react-input-emoji--button svg {
    width: 20px!important;
    height: 20px!important;
    color: #c1c7cd!important;
    fill:#c1c7cd!important;
}
.react-input-emoji--button:hover {
    color: gray;
}